@charset "UTF-8";
/*--------------------------------------------------------------
  font-face
--------------------------------------------------------------*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Lato-Hairline.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Lato-Regular.ttf);
}
/*--------------------------------------------------
  HTML
--------------------------------------------------*/
html {
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------
  Reset
--------------------------------------------------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*--------------------------------------------------
  Body
--------------------------------------------------*/
body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  min-width: inherit;
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/
a {
  color: #212121;
}
a:visited {
  color: #BDBDBD;
}
a:hover, a:active, a:focus {
  color: #000;
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 75%;
}

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*--------------------------------------------------
  Main
--------------------------------------------------*/
main {
  display: block;
}

/*--------------------------------------------------
  Table
--------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------
  Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from 
  affecting the line height in all browsers.
--------------------------------------------------*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/
img {
  border-style: none;
}

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/
button, input {
  overflow: visible;
}

/*--------------------------------------------------
  Remove the inheritance of text transform in Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/
button, select {
  text-transform: none;
}

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/
textarea {
  overflow: auto;
}

/*--------------------------------------------------
  Correct the cursor style of increment and decrement buttons in Chrome.
--------------------------------------------------*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*--------------------------------------------------
  Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
--------------------------------------------------*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types in iOS and Safari.  
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in IE 10-.
--------------------------------------------------*/
[hidden] {
  display: none;
}

/*--------------------------------------------------
  clearfix, group, row
--------------------------------------------------*/
.row::after, .group::after, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------
  col, col-flex
--------------------------------------------------*/
.col {
  float: left;
  width: 100%;
}

.col-flex {
  display: flex;
  flex-wrap: wrap;
}
.center.col-flex {
  align-items: center;
  justify-content: center;
}
.center_h.col-flex {
  justify-content: center;
}
.center_v.col-flex {
  align-items: center;
}

.col.s1 {
  width: 8.33333%;
}

.col-flex .flex-content.s1 {
  width: 8.33333%;
}

.col.s2 {
  width: 16.66666%;
}

.col-flex .flex-content.s2 {
  width: 16.66666%;
}

.col.s3 {
  width: 24.99999%;
}

.col-flex .flex-content.s3 {
  width: 24.99999%;
}

.col.s4 {
  width: 33.33333%;
}

.col-flex .flex-content.s4 {
  width: 33.33333%;
}

.col.s5 {
  width: 41.66666%;
}

.col-flex .flex-content.s5 {
  width: 41.66666%;
}

.col.s6 {
  width: 49.99999%;
}

.col-flex .flex-content.s6 {
  width: 49.99999%;
}

.col.s7 {
  width: 58.33333%;
}

.col-flex .flex-content.s7 {
  width: 58.33333%;
}

.col.s8 {
  width: 66.66666%;
}

.col-flex .flex-content.s8 {
  width: 66.66666%;
}

.col.s9 {
  width: 74.99999%;
}

.col-flex .flex-content.s9 {
  width: 74.99999%;
}

.col.s10 {
  width: 83.33333%;
}

.col-flex .flex-content.s10 {
  width: 83.33333%;
}

.col.s11 {
  width: 91.66666%;
}

.col-flex .flex-content.s11 {
  width: 91.66666%;
}

.col.s12 {
  width: 99.99999%;
}

.col-flex .flex-content.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .col.m1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.m1 {
    width: 8.33333%;
  }

  .col.m2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.m2 {
    width: 16.66666%;
  }

  .col.m3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.m3 {
    width: 24.99999%;
  }

  .col.m4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.m4 {
    width: 33.33333%;
  }

  .col.m5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.m5 {
    width: 41.66666%;
  }

  .col.m6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.m6 {
    width: 49.99999%;
  }

  .col.m7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.m7 {
    width: 58.33333%;
  }

  .col.m8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.m8 {
    width: 66.66666%;
  }

  .col.m9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.m9 {
    width: 74.99999%;
  }

  .col.m10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.m10 {
    width: 83.33333%;
  }

  .col.m11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.m11 {
    width: 91.66666%;
  }

  .col.m12 {
    width: 99.99999%;
  }

  .col-flex .flex-content.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .col.l1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.l1 {
    width: 8.33333%;
  }

  .col.l2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.l2 {
    width: 16.66666%;
  }

  .col.l3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.l3 {
    width: 24.99999%;
  }

  .col.l4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.l4 {
    width: 33.33333%;
  }

  .col.l5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.l5 {
    width: 41.66666%;
  }

  .col.l6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.l6 {
    width: 49.99999%;
  }

  .col.l7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.l7 {
    width: 58.33333%;
  }

  .col.l8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.l8 {
    width: 66.66666%;
  }

  .col.l9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.l9 {
    width: 74.99999%;
  }

  .col.l10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.l10 {
    width: 83.33333%;
  }

  .col.l11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.l11 {
    width: 91.66666%;
  }

  .col.l12 {
    width: 99.99999%;
  }

  .col-flex .flex-content.l12 {
    width: 99.99999%;
  }
}
@media (min-width: 1101px) {
  .col.xl1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.xl1 {
    width: 8.33333%;
  }

  .col.xl2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.xl2 {
    width: 16.66666%;
  }

  .col.xl3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.xl3 {
    width: 24.99999%;
  }

  .col.xl4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.xl4 {
    width: 33.33333%;
  }

  .col.xl5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.xl5 {
    width: 41.66666%;
  }

  .col.xl6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.xl6 {
    width: 49.99999%;
  }

  .col.xl7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.xl7 {
    width: 58.33333%;
  }

  .col.xl8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.xl8 {
    width: 66.66666%;
  }

  .col.xl9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.xl9 {
    width: 74.99999%;
  }

  .col.xl10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.xl10 {
    width: 83.33333%;
  }

  .col.xl11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.xl11 {
    width: 91.66666%;
  }

  .col.xl12 {
    width: 99.99999%;
  }

  .col-flex .flex-content.xl12 {
    width: 99.99999%;
  }
}
/*--------------------------------------------------
  Color
--------------------------------------------------*/
.color {
  color: rgba(0, 0, 0, 0.85);
}
.color.primary {
  color: #212121;
}
.color.accent {
  color: #BDBDBD;
}
.color.grey-50 {
  color: #FAFAFA;
}
.color.grey-100 {
  color: #F5F5F5;
}
.color.grey-200 {
  color: #EEEEEE;
}
.color.grey-300 {
  color: #E0E0E0;
}
.color.grey-400 {
  color: #BDBDBD;
}
.color.grey-500 {
  color: #999999;
}
.color.grey-600 {
  color: #757575;
}
.color.grey-700 {
  color: #616161;
}
.color.grey-800 {
  color: #424242;
}
.color.grey-900 {
  color: #212121;
}
.color.white {
  color: #FFF;
}
.color.black {
  color: #000;
}
.color.red {
  color: #F44336;
}
.color.pink {
  color: #E91E63;
}
.color.purple {
  color: #9C27B0;
}
.color.deep-purple {
  color: #673AB7;
}
.color.indigo {
  color: #3F51B5;
}
.color.blue {
  color: #2196F3;
}
.color.light-blue {
  color: #03A9F4;
}
.color.cyan {
  color: #00BCD4;
}
.color.teal {
  color: #009688;
}
.color.green {
  color: #4CAF50;
}
.color.light-green {
  color: #8BC34A;
}
.color.lime {
  color: #CDDC39;
}
.color.yellow {
  color: #FFEB3B;
}
.color.amber {
  color: #FFC107;
}
.color.orange {
  color: #FF9800;
}
.color.deep-orange {
  color: #FF5722;
}
.color.brown {
  color: #795548;
}
.color.grey {
  color: #9E9E9E;
}
.color.blue-grey {
  color: #607D8B;
}

/*--------------------------------------------------
  Background
--------------------------------------------------*/
.background {
  background-color: rgba(0, 0, 0, 0.85);
}
.background.primary {
  background-color: #212121;
}
.background.accent {
  background-color: #BDBDBD;
}
.background.grey-50 {
  background-color: #FAFAFA;
}
.background.grey-100 {
  background-color: #F5F5F5;
}
.background.grey-200 {
  background-color: #EEEEEE;
}
.background.grey-300 {
  background-color: #E0E0E0;
}
.background.grey-400 {
  background-color: #BDBDBD;
}
.background.grey-500 {
  background-color: #999999;
}
.background.grey-600 {
  background-color: #757575;
}
.background.grey-700 {
  background-color: #616161;
}
.background.grey-800 {
  background-color: #424242;
}
.background.grey-900 {
  background-color: #212121;
}
.background.white {
  background-color: #FFF;
}
.background.black {
  background-color: #000;
}
.background.red {
  background-color: #F44336;
}
.background.pink {
  background-color: #E91E63;
}
.background.purple {
  background-color: #9C27B0;
}
.background.deep-purple {
  background-color: #673AB7;
}
.background.indigo {
  background-color: #3F51B5;
}
.background.blue {
  background-color: #2196F3;
}
.background.light-blue {
  background-color: #03A9F4;
}
.background.cyan {
  background-color: #00BCD4;
}
.background.teal {
  background-color: #009688;
}
.background.green {
  background-color: #4CAF50;
}
.background.light-green {
  background-color: #8BC34A;
}
.background.lime {
  background-color: #CDDC39;
}
.background.yellow {
  background-color: #FFEB3B;
}
.background.amber {
  background-color: #FFC107;
}
.background.orange {
  background-color: #FF9800;
}
.background.deep-orange {
  background-color: #FF5722;
}
.background.brown {
  background-color: #795548;
}
.background.grey {
  background-color: #9E9E9E;
}
.background.blue-grey {
  background-color: #607D8B;
}

/*--------------------------------------------------
  Object-fit
--------------------------------------------------*/
.object-fit-fill {
  object-fit: fill;
  font-family: "object-fit: fill;";
}

.object-fit-contain {
  object-fit: contain;
  font-family: "object-fit: contain;";
}

.object-fit-cover {
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.object-fit-none {
  object-fit: none;
  font-family: "object-fit: none;";
}

.object-fit-scale_down {
  object-fit: scale-down;
  font-family: "object-fit: scale-down;";
}

/*--------------------------------------------------
  Display according to viewport
--------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .desktop {
    display: none !important;
  }
}
/*--------------------------------------------------
  Float
--------------------------------------------------*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*--------------------------------------------------
  Typoghrapy
--------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.font-small {
  font-size: 1.2rem;
}

.font-medium {
  font-size: 1.4rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-large {
  font-size: 2.5rem;
}

/*--------------------------------------------------
  Z-depth
--------------------------------------------------*/
.z-depth {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------
  gap-spacer
--------------------------------------------------*/
.gap-spacer {
  margin-bottom: 20px;
}

@media only screen and (min-width: 993px) {
  .gap-spacer {
    margin-bottom: 40px;
  }
}
/*--------------------------------------------------
  dummy-img-placeholder
--------------------------------------------------*/
.dummy-img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 150px;
  color: #FFF;
  background: linear-gradient(145deg, #FFC107, #FF9800);
}
.dummy-img-placeholder.thumbnail {
  width: 100px;
  height: 100px;
  min-height: 100%;
}

/*--------------------------------------------------
  site-branding
--------------------------------------------------*/
.site-branding {
  color: #FFF;
  font-size: 1.8rem;
  line-height: 1;
  white-space: nowrap;
}
.site-branding a {
  color: #FFF;
  text-decoration: none;
}
.site-branding img {
  max-width: 100%;
}
.tagline.site-branding {
  color: #FFF;
  font-size: 1.2rem;
  margin: 0 20px;
}

@media only screen and (min-width: 993px) {
  .site-branding {
    font-size: 2.5rem;
  }
}
/*--------------------------------------------------
  main-nav
--------------------------------------------------*/
.main-nav {
  display: flex;
  list-style: none;
}
.main-nav li {
  height: 70px;
}
.main-nav a {
  position: relative;
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 1.2rem;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-nav a:hover, .main-nav a.active {
  background-color: #000;
}
.main-nav a:hover::before, .main-nav a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 2px;
  background-color: #FF9800;
}

@media only screen and (max-width: 992px) {
  .main-nav {
    flex-direction: column;
  }
  .main-nav a {
    padding: 0 15px;
  }
  .main-nav a::before {
    display: none;
  }
}
/*--------------------------------------------------
  heading-title
--------------------------------------------------*/
.heading-title, .service-title, .atf-title {
  margin: 0 0 20px;
  color: #212121;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.service-title {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  font-size: 1.5rem;
}
.service-title .circle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #FFF;
  font-size: 2rem;
  width: 42px;
  height: 42px;
  background-color: #212121;
  border-radius: 50%;
}
.service-title .circle-icon.orange {
  background-color: #FF9800;
}

.atf-title {
  margin: 20px 0;
  padding: 10px;
  color: #FFF;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.blog-title {
  font-size: 1.8rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 993px) {
  .atf-title {
    font-size: 3.5rem;
  }
}
.atf-text {
  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .atf-text {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}
/*--------------------------------------------------
  menu-btn
--------------------------------------------------*/
.menu-btn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #FFF !important;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}
.menu-btn .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
}
.menu-btn .menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 4px;
  background-color: #FFF;
}
.menu-btn .menu-inner::after, .menu-btn .menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #FFF;
  transition: all 60ms linear;
}
.menu-btn .menu-inner::before {
  top: -8px;
}
.menu-btn .menu-inner::after {
  bottom: -8px;
}
.menu-btn .menu-text {
  margin: 4px 0 0;
}
.active.menu-btn .menu-inner {
  background-color: rgba(0, 0, 0, 0);
}
.active.menu-btn .menu-inner::before {
  top: 1px;
  transform: rotate(-40deg);
}
.active.menu-btn .menu-inner::after {
  bottom: -1px;
  transform: rotate(40deg);
}

/*--------------------------------------------------
  btn
--------------------------------------------------*/
.btn {
  display: inline-block;
  padding: 0 30px;
  color: #FFF;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: #212121;
  white-space: nowrap;
}
.btn:hover {
  color: #FFF !important;
  background-color: #424242 !important;
}
.btn:focus, .btn:active, .btn:visited {
  color: #FFF;
  background-color: #212121;
}

.btn.alt1 {
  color: #FFF;
  background-color: #F00;
}

.btn.alt2 {
  color: #FFF;
  background-color: #0F0;
}

.btn.alt3 {
  color: #FFF;
  background-color: #00F;
}

@media only screen and (min-width: 601px) {
  .btn-sample-desktop {
    background-color: FAFAFA;
    height: 20px;
  }
  .btn-sample-desktop {
    display: inline-block;
    padding: 0 30px;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 3.5rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: #212121;
    white-space: nowrap;
  }
  .btn-sample-desktop:hover {
    color: #FFF !important;
    background-color: #424242 !important;
  }
  .btn-sample-desktop:focus, .btn-sample-desktop:active, .btn-sample-desktop:visited {
    color: #FFF;
    background-color: #212121;
  }
}
/*--------------------------------------------------
  card
--------------------------------------------------*/
.card {
  height: auto;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  margin: 5px;
}
.card .card-content {
  padding: 15px;
}
/* Add class "card-cluster" to grandparent/parent */
.card-cluster {
  margin: -5px;
}

.paper {
  position: relative;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  margin: 0 10px;
}
.paper::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 5px;
  background-color: #FF9800;
  border-radius: 2px 2px 0 0;
}

@media only screen and (min-width: 993px) {
  .paper {
    margin: 0 20px;
  }
}
/*--------------------------------------------------
  wrap, container
--------------------------------------------------*/
.wrap,
.container {
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .wrap,
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
/*--------------------------------------------------
  header-section
--------------------------------------------------*/
.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #212121;
  transition: all 120ms ease-in-out 60ms;
  z-index: 9;
}
.header-section.active {
  top: -70px;
}
.header-section:hover, .header-section.active.show, .header-section.menu-opened {
  top: 0 !important;
}

/*--------------------------------------------------
  site-header
--------------------------------------------------*/
.site-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  padding: 0;
  z-index: 1;
}
.site-header > div {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
}

@media only screen and (min-width: 993px) {
  .site-header {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
  }
}
/*--------------------------------------------------
  site-navigation
--------------------------------------------------*/
.site-navigation {
  width: 100%;
  max-height: 0;
  background-color: #555;
  transition: all 120ms ease-in-out 60ms;
  overflow: hidden;
}
.site-navigation.show {
  max-height: 100vh;
}

@media only screen and (min-width: 993px) {
  .site-navigation {
    width: auto;
    max-height: 100vh;
    margin-left: auto;
    background-color: transparent;
  }
  .site-navigation ul {
    width: 100%;
    max-width: 960px;
    margin: auto;
  }
}
/*--------------------------------------------------
  site-atf
--------------------------------------------------*/
.site-atf {
  position: relative;
  height: 350px;
  background: url(../../images/blue_ocean-night_&_day.jpg) no-repeat center/cover;
}
.site-atf::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
}
.site-atf > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  padding: 70px 20px 50px;
  z-index: 1;
}
.site-atf h2 {
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .site-atf {
    height: 500px;
  }
}
/*--------------------------------------------------
  site-footer
--------------------------------------------------*/
.site-footer {
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------
  ext-footer
--------------------------------------------------*/
.ext-footer {
  display: flex;
  align-items: center;
  height: 60px;
  background: #999;
}

/*--------------------------------------------------
  footer
--------------------------------------------------*/
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background: #000;
}

/*--------------------------------------------------
  site-main
--------------------------------------------------*/
.site-main {
  position: relative;
  margin: -50px 0 0;
  padding: 0 0 50px;
}

/*--------------------------------------------------
  section
--------------------------------------------------*/
.section {
  padding: 10px 10px 20px;
}
.section.no-pad {
  padding: 0;
}

@media only screen and (min-width: 993px) {
  .section {
    padding: 20px 40px 50px;
  }
}
/*--------------------------------------------------
  article
--------------------------------------------------*/
.article {
  padding: 20px 0 0;
}

/*--------------------------------------------------
  feat-layout
--------------------------------------------------*/
.feat-layout {
  position: relative;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 50px 0 0;
}
.feat-layout.even {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.feat-layout::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 5px;
  background-color: #F5F5F5;
}
.feat-layout > div, .feat-layout .item-cluster {
  padding: 20px 0;
}
.feat-layout .main-entry {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}
.feat-layout .sub-entry {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media only screen and (min-width: 601px) {
  .feat-layout {
    margin: 0 -10px;
  }
  .feat-layout > div, .feat-layout .item-cluster {
    padding: 20px 10px;
  }
}
@media only screen and (min-width: 993px) {
  .feat-layout {
    -ms-grid-columns: 300px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
  }
  .feat-layout.even {
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .feat-layout .main-entry {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .feat-layout .sub-entry {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media only screen and (max-width: 600px) {
  .feat-layout > div:last-child, .feat-layout .item-cluster:last-child {
    padding-bottom: 0;
  }
}
/*--------------------------------------------------
  button-holder
--------------------------------------------------*/
.button-holder {
  margin: 20px 0 0;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .button-holder {
    text-align: left;
  }
}
/*--------------------------------------------------
  blog-content
--------------------------------------------------*/
.blog-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.blog-content .btn-readmore {
  margin-right: auto;
}
.blog-content .text-entry {
  display: inherit;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 20px;
}
.blog-content .blog-title {
  margin-right: auto;
  margin-bottom: 10px;
}
.blog-content .blog-text {
  width: 100%;
}
.blog-content .info-entry {
  font-size: 1.4rem;
  margin-right: auto;
  margin-bottom: 10px;
}
.blog-content .info-entry span {
  margin-right: 5px;
}

@media print {
  body {
    font-family: "Arial", "Roboto", "Droid Sans", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    width: 100%;
    width: 640px\9;
  }
}

/*# sourceMappingURL=style.css.map */
