/*--------------------------------------------------------------
  font-face
--------------------------------------------------------------*/

$font-family-custom: 'Lato', sans-serif;

@mixin custom-font {
  font-family: 'Lato';
  font-style: normal;
}

@font-face {
  @include custom-font;
  font-weight: 100;
  src: url(../fonts/Lato-Hairline.ttf);
}

@font-face {
  @include custom-font;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  @include custom-font;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  @include custom-font;
  font-weight: 500;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  @include custom-font;
  font-weight: 700;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  @include custom-font;
  font-weight: 900;
  src: url(../fonts/Lato-Regular.ttf);
}