/*--------------------------------------------------
  wrap, container
--------------------------------------------------*/

.wrap, 
.container {
  width: 100%;
}

@media only screen and (min-width: $media-medium + 1) {
  .wrap, 
  .container {
    max-width: $max-width;
    margin: 0 auto;
  }
}

/*--------------------------------------------------
  header-section
--------------------------------------------------*/

.header-section { 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  transition: all 120ms ease-in-out 60ms;
  z-index: 9;

  &.active { top: -$header-height; }

  &:hover,
  &.active.show,
  &.menu-opened { top: 0 !important; }
}

/*--------------------------------------------------
  site-header
--------------------------------------------------*/

.site-header { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: $header-height;
  padding: 0;
  z-index: 1;

  & > div {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
  }
}

@media only screen and (min-width: $media-medium + 1) {
  .site-header { 
    max-width: $max-width;
    margin: auto;
    padding: 0 20px; 
  }
}

/*--------------------------------------------------
  site-navigation
--------------------------------------------------*/

.site-navigation {
  width: 100%;
  max-height: 0;
  background-color: #555;
  transition: all 120ms ease-in-out 60ms;
  overflow: hidden;

  &.show { max-height: 100vh; }
}

@media only screen and (min-width: $media-medium + 1) {
  .site-navigation {
    width: auto;
    max-height: 100vh;
    margin-left: auto;
    background-color: transparent;

    & ul {
      width: 100%;
      max-width: 960px;
      margin: auto;
    }
  }
}

/*--------------------------------------------------
  site-atf
--------------------------------------------------*/

.site-atf {
  position: relative;
  height: 350px;
  background: url(../../images/blue_ocean-night_&_day.jpg) no-repeat center/cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.8);
  }

  & > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 70px 20px 50px;
    z-index: 1;
  }
  
  & h2 { text-align: center; }
}

@media only screen and (min-width: $media-medium + 1) {
  .site-atf {
    height: 500px;
  }
}

/*--------------------------------------------------
  site-footer
--------------------------------------------------*/

.site-footer {
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------
  ext-footer
--------------------------------------------------*/

.ext-footer {
  display: flex;
  align-items: center;
  height: 60px;
  background: #999;
}

/*--------------------------------------------------
  footer
--------------------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background: #000;
}

/*--------------------------------------------------
  site-main
--------------------------------------------------*/

.site-main {
  position: relative;
  margin: -50px 0 0;
  padding: 0 0 50px;
}

/*--------------------------------------------------
  section
--------------------------------------------------*/

.section { 
  padding: 10px 10px 20px;

  &.no-pad { padding: 0; }
}

@media only screen and (min-width: $media-medium + 1) {
  .section { padding: 20px 40px 50px; }
}

/*--------------------------------------------------
  article
--------------------------------------------------*/

.article { padding: 20px 0 0; }


/*--------------------------------------------------
  feat-layout
--------------------------------------------------*/

.feat-layout {
  position: relative;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 50px 0 0;

  &.even {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: 5px;
    background-color: $grey-100;
  }

  & > div,
  & .item-cluster {
    padding: 20px 0;
  }

  & .main-entry {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  & .sub-entry {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media only screen and (min-width: $media-small + 1) {
  .feat-layout {
    margin: 0 -10px;

    & > div,
    & .item-cluster {
      padding: 20px 10px;
    }
  }
}

@media only screen and (min-width: $media-medium + 1) {
  .feat-layout {
    -ms-grid-columns: 300px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    &.even {
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    & .main-entry {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    & .sub-entry {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
}

@media only screen and (max-width: $media-small) {
  .feat-layout {
    & > div:last-child,
    & .item-cluster:last-child {
      padding-bottom: 0;
    }
  }
}

/*--------------------------------------------------
  button-holder
--------------------------------------------------*/

.button-holder {
  margin: 20px 0 0;
  text-align: center; 
}

@media only screen and (min-width: $media-medium + 1) {
  .button-holder {
    text-align: left;
  }
}

/*--------------------------------------------------
  blog-content
--------------------------------------------------*/

.blog-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  & .btn-readmore {
    margin-right: auto;
  }

  & .text-entry {
    display: inherit;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 20px;
  }

  & .blog-title {
    margin-right: auto;
    margin-bottom: 10px;
  }

  & .blog-text {
    width: 100%;
  }

  & .info-entry {
    font-size: $medium-size;
    margin-right: auto;
    margin-bottom: 10px;

    & span {
      margin-right: 5px;
    }
  }
}


