// Helper - background

/*--------------------------------------------------
  Background
--------------------------------------------------*/

.background { 
  background-color: $default-color;

  &.primary { background-color: $primary-color; }
  &.accent { background-color: $accent-color; }
  &.grey-50 { background-color: $grey-50; }
  &.grey-100 { background-color: $grey-100; }
  &.grey-200 { background-color: $grey-200; }
  &.grey-300 { background-color: $grey-300; }
  &.grey-400 { background-color: $grey-400; }
  &.grey-500 { background-color: $grey-500; }
  &.grey-600 { background-color: $grey-600; }
  &.grey-700 { background-color: $grey-700; }
  &.grey-800 { background-color: $grey-800; }
  &.grey-900 { background-color: $grey-900; }

  &.white { background-color: $white; }
  &.black { background-color: $black; }
  &.red { background-color: $red; }
  &.pink { background-color: $pink; }
  &.purple { background-color: $purple; }
  &.deep-purple { background-color: $deep-purple; }
  &.indigo { background-color: $indigo; }
  &.blue { background-color: $blue; }
  &.light-blue { background-color: $light-blue; }
  &.cyan { background-color: $cyan; }
  &.teal { background-color: $teal; }
  &.green { background-color: $green; }
  &.light-green { background-color: $light-green; }
  &.lime { background-color: $lime; }
  &.yellow { background-color: $yellow; }
  &.amber { background-color: $amber; }
  &.orange { background-color: $orange; }
  &.deep-orange { background-color: $deep-orange; }
  &.brown { background-color: $brown; }
  &.grey { background-color: $grey; }
  &.blue-grey { background-color: $blue-grey; }
}