// Helper - Color

/*--------------------------------------------------
  Color
--------------------------------------------------*/

.color { 
  color: $default-color;

  &.primary { color: $primary-color; }
  &.accent { color: $accent-color; }
  &.grey-50 { color: $grey-50; }
  &.grey-100 { color: $grey-100; }
  &.grey-200 { color: $grey-200; }
  &.grey-300 { color: $grey-300; }
  &.grey-400 { color: $grey-400; }
  &.grey-500 { color: $grey-500; }
  &.grey-600 { color: $grey-600; }
  &.grey-700 { color: $grey-700; }
  &.grey-800 { color: $grey-800; }
  &.grey-900 { color: $grey-900; }

  &.white { color: $white; }
  &.black { color: $black; }
  &.red { color: $red; }
  &.pink { color: $pink; }
  &.purple { color: $purple; }
  &.deep-purple { color: $deep-purple; }
  &.indigo { color: $indigo; }
  &.blue { color: $blue; }
  &.light-blue { color: $light-blue; }
  &.cyan { color: $cyan; }
  &.teal { color: $teal; }
  &.green { color: $green; }
  &.light-green { color: $light-green; }
  &.lime { color: $lime; }
  &.yellow { color: $yellow; }
  &.amber { color: $amber; }
  &.orange { color: $orange; }
  &.deep-orange { color: $deep-orange; }
  &.brown { color: $brown; }
  &.grey { color: $grey; }
  &.blue-grey { color: $blue-grey; }
}