// Helper - Others

/*--------------------------------------------------
  Display according to viewport
--------------------------------------------------*/

@media only screen and (min-width: $media-medium + 1) {
  .mobile { display: none !important; }
}

@media only screen and (max-width: $media-medium) {
  .desktop { display: none !important; }
}

/*--------------------------------------------------
  Float
--------------------------------------------------*/

.float-left { float: left; }
.float-right { float: right; }

/*--------------------------------------------------
  Typoghrapy
--------------------------------------------------*/

.text-center { text-align: center; }
.text-right { text-align: right; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.font-small { font-size: $small-size; }
.font-medium { font-size: $medium-size; }
.font-large { font-size: $large-size; }
.font-large { font-size: $extra-large-size; }


/*--------------------------------------------------
  Z-depth
--------------------------------------------------*/

.z-depth { box-shadow: $z-depth; }

/*--------------------------------------------------
  gap-spacer
--------------------------------------------------*/

.gap-spacer { margin-bottom: 20px; }

@media only screen and (min-width: $media-medium + 1) {
  .gap-spacer { margin-bottom: 40px; }
}

/*--------------------------------------------------
  dummy-img-placeholder
--------------------------------------------------*/

.dummy-img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 150px;
  color: #FFF;
  background: linear-gradient(145deg, $amber, $orange);

  &.thumbnail {
    width: 100px;
    height: 100px;
    min-height: 100%;
  }
}