/*--------------------------------------------------
  menu-btn
--------------------------------------------------*/

@mixin menu-btn($extend: true) {
  @if $extend {
    @extend %menu-btn;
  } @else {
    & {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      padding: 10px;
      color: #FFF !important;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      text-transform: lowercase;
    }
    
    & .menu-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 20px;
    }
    
    & .menu-inner {
      position: relative;
      display: block;
      width: inherit;
      height: 4px;
      background-color: #FFF;
    }
    
    & .menu-inner::after,
    & .menu-inner::before {
      position: absolute;
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: #FFF;
      transition: all 60ms linear;
    }
    
    & .menu-inner::before {
      top: -8px;
    }
    
    & .menu-inner::after {
      bottom: -8px;
    }
    
    & .menu-text {
      margin: 4px 0 0;
    }
    
    &.active .menu-inner {
      background-color: rgba(0, 0, 0, 0);
    }
    
    &.active .menu-inner::before {
      top: 1px;
      transform: rotate(-40deg);
    }
    
    &.active .menu-inner::after {
      bottom: -1px;
      transform: rotate(40deg);
    }
  }
}

%menu-btn { @include menu-btn($extend: false); }

.menu-btn { @include menu-btn; }

/*--------------------------------------------------
  btn
--------------------------------------------------*/

@mixin btn($extend: true) {
  @if $extend {
    @extend %btn;
  } @else {
    & {
      display: inline-block;
      padding: 0 30px;
      color: $button-text-color;
      font-size: 1.5rem;
      line-height: 3.5rem;
      text-decoration: none;
      border-radius: 4px;
      background-color: $button-color;
      white-space: nowrap;
    }
    &:hover {
      color: $button-hover-text-color !important;
      background-color: $button-hover-color !important;
    }

    &:focus,
    &:active,
    &:visited {
      color: $button-text-color;
      background-color: $button-color;
    }
  }
}
  
%btn { @include btn($extend: false); }

.btn { @include btn; }

.btn.alt1 {
  color: #FFF;
  background-color: $button-color-alt-1;
}

.btn.alt2 {
  color: #FFF;
  background-color: $button-color-alt-2;
}

.btn.alt3 {
  color: #FFF;
  background-color: $button-color-alt-3;
}

@media only screen and (min-width: $media-small + 1) {
  // Sample only
  // Sample on extending on a media query (add "false")
  .btn-sample-desktop {
    @include btn(false);
    background-color: FAFAFA;
    height: 20px;
  }
}