/*--------------------------------------------------
  card
--------------------------------------------------*/

@mixin card($extend: true) {
  @if $extend {
    @extend %card;
  } @else {
    & {
      height: $card-height;
      background-color: $card-color;
      border-radius: $card-radius;
      box-shadow: $card-shadow;
      margin: $card-gutter;

      & .card-content {
        padding: $card-padding;
      }
    }
    
    @at-root {
      /* Add class "card-cluster" to grandparent/parent */
      .card-cluster {
        margin: -$card-gutter;
      }
    }
  }
}

%card { @include card($extend: false); }

.card { @include card; }