/*--------------------------------------------------
  heading-title
--------------------------------------------------*/

@mixin title($extend: true) {
  @if $extend {
    @extend %title;
  } @else {
    & {
      margin: 0 0 20px;
      color: $primary-color;
      font-size: $large-size;
      text-transform: uppercase;
    }
  }
}

%title { @include title($extend: false); }

.heading-title { @include title; }

.service-title {
  display: flex;
  align-items: center;
  @include title;
  margin: 0 0 10px;
  font-size: $default-size;

  & .circle-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    color: #FFF;
    font-size: 2rem;
    width: 42px;
    height: 42px;
    background-color: $primary-color;
    border-radius: 50%;

    &.orange {
      background-color: $orange;
    }
  }
}

.atf-title {
  @include title;
  margin: 20px 0;
  padding: 10px;
  color: #FFF;
  font-size: $extra-large-size;
  letter-spacing: 0.5rem;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.blog-title {
  font-size: $large-size;
  text-transform: uppercase;
}

@media only screen and (min-width: $media-medium + 1) {
  .atf-title {
    font-size: $mega-large-size;
  }
}