/*--------------------------------------------------
  main-nav
--------------------------------------------------*/

@mixin main-nav($extend: true) {
  @if $extend {
    @extend %main-nav;
  } @else {
    & {
      display: flex;
      list-style: none;
    }

    & li { height: $header-height; }

    & a {
      position: relative;
      display: block;
      padding: 0 20px;
      color: #FFF;
      font-size: 1.2rem;
      line-height: $header-height;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
    }

    & a:hover,
    & a.active { 
      background-color: $active-color;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 2px;
        background-color: $orange;
      }
    }
  }
}
  
%main-nav { @include main-nav($extend: false); }

.main-nav { @include main-nav; }

@media only screen and (max-width: $media-medium) {
  .main-nav { 
    flex-direction: column;

    & a { 
      padding: 0 15px; 
      
      &::before {
        display: none;
      }
    }
  }
}