@mixin paper($extend: true) {
  @if $extend {
    @extend %paper;
  } @else {
    & {
      position: relative;
      background-color: $paper-color;
      border-radius: $paper-radius;
      box-shadow: $paper-shadow;
      padding-top: $paper-padding;
      margin: 0 10px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 5px;
        background-color: $orange;
        border-radius: 2px 2px 0 0;
      }
    }
  }
}

%paper { @include paper($extend: false); }

.paper { @include paper; }

@media only screen and (min-width: $media-medium + 1) {
  .paper {
    margin: 0 20px;
  }
}