@mixin text($extend: true) {
  @if $extend {
    @extend %text;
  } @else {
    & {
      color: #FFF;
      font-size: $small-size;
      letter-spacing: 0.5rem;
      text-align: center;
    }
  }
}

%text { @include text($extend: false); }

.atf-text { @include text; }

@media only screen and (min-width: $media-medium + 1) {
  .atf-text {
    font-size: $default-size;
    letter-spacing: 0.2rem;
  }
}